@model IS_Proj_HIT.Models.Patient

<button class="btn-primary" type="submit" asp-controller="Patient" asp-action="AddPatient"></button>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
